.hidden {
    display: none !important;
}


#spot-outermost {
    width: 100%;
    height: 100%;
    display: block;
}

#spotPage {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    width: 100%;
}

#spotName-header {
    display: flex;
    flex-direction: column;
    /* padding-bottom: 15px; */
    justify-content: space-around;
    /* padding-left: 80px;
    padding-right: 80px; */
    font-weight: 570;
    height: 80px;
    justify-content: start;
    width: 1120px;
    font-family: system-ui;
    /* box-sizing: border-box; */
}

#spotName-header-mini-details {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    font-size: 14px;
}

.details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1120px;
    height: 600px;
    border-bottom: 1px solid lightgrey;
    /* border: 2px blue solid; */
    /* margin: 40px; */
    /* margin-left: auto;
    margin-right: auto;
    text-align: center; */
}

#details-mini-header {
    border-bottom: 1px solid lightgrey;
    padding: 48px 0px 24px 0px;
}

#mini-header-styling {
    font-weight: 200;
}

#h2header {
    margin: 0;
    font-weight: 400;
}

#details-left {
    display: block;
    /* border: 2px red dashed; */
    width: 660px;

}

.host-information {
    font-size: 17px;
    margin-top: 20px;
    padding-left: 12px;
    font-weight: 400;
    color: rgb(34, 34, 34)
}

#host-superhost-div {
    display: flex;
    flex-direction: row;
}

#superhost-description {
    font-size: 14px;
    color: grey;
    overflow-wrap: normal;

}

#free-cancel-div {
    display: flex;
    justify-content: row;
}


#appAcademy-disclaimer {
    border-bottom: 1px lightgrey solid;
    padding-bottom: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#spot-description {
    overflow-wrap: normal;
}

#right-modal {
    border: 2px solid lightgrey;
    border-radius: 20px;
    width: 372px;
    /* height: 482px; */
    height: fit-content;
    padding-bottom: 25px;
    margin-top: 47px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 100px;
    /* display: none; */
}


#right-modal-content {
    display: block;
    width: 322px;
    height: fit-content;
    margin-top: 20px;
}

#modal-header {
    display: flex;
    width: 100%;
    height: 25px;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
}

#header-price {
    display: flex;
    justify-content: space-between;
    color: black;
    height: 100%;
    width: 70px;

}

#header-left-price {
    font-size: 22px;
    font-weight: 500;
}

#header-left-night {
    font-size: 18px;
    padding-left: 5px;
    padding-top: 3px
}

#header-right-stars-reviews {
    color: black;
    font-family: system-ui;
    font-weight: 500;
    width: 110px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}

#headerRight-reviews {
    color: black;
    font-family: system-ui;

}

#spot-owner-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 322px;
}

#leave-review-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#create-review-btn,
#delete-spot-btn,
#edit-spot-btn {
    width: 80%;
    margin-top: 15px;
    height: 40px;
    background-color: #FF5A5F;
    color: white;
    border-radius: 20px;
    border: 1px solid lightgrey;
    font-size: 16px;
    font-weight: 500;
    font-family: system-ui;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px 0px;
}

#create-review-btn:hover,
#delete-spot-btn:hover,
#edit-spot-btn:hover {
    cursor: pointer
}

#create-review-btn {
    width: 322px;
}



/* inline styling: style={{width: '700px', height:'560px'}} */

/* .spotDetails-image {
    height: 100%;
    width: 100%;
} */


#spotDetails-images-container {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* border: 2px red solid; */
    width: 1120px;
    height: 480px;
    overflow: hidden;

}

#smallImage-column-divs {
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: 500px;

}

#big-img {
    width: 560px;
    height: 463.5px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#bigImg-div {
    width: 560px;
    height: 500px;
}


.small-img {
    width: 272px;
    height: 230px;
    object-fit: cover;
}

#small-img-TR {
    width: 272px;
    height: 230px;
    object-fit: cover;
    border-top-right-radius: 15px;
}

#small-img-BR {
    width: 272px;
    height: 230px;
    object-fit: cover;
    border-bottom-right-radius: 15px;

}

#host-info-container {
    display: flex;

}


#host-info-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 225px;
    border-bottom: 1px solid lightgrey;
}



#Check-in-description {
    font-size: 14px;
    font-weight: 400;
    color: grey;
}

#aa-guarantee-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#header-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-between;
    padding-top: 100px;
    height: 80px;
    width: 100%
        /* box-sizing: border-box; */
}

#miniheader-reviews {
    width: 40px;
}

#reviews-header {
    width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#reviews-container {
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

}

.review-detail-spacing {
    /* margin-top: 7px; */
    padding-left: 10px;
}

#review-firstName {
    font-size: 16px;
    font-family: system-ui;


}

/* Custom Calendar Header */
#custom-bookings-header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 597px;
    height: 70px;
    margin-top: 25px;
}

#bookings-header-left {
    display: flex;
    flex-direction: column;
}

#qty-nights {
    font-size: 22px;
    color: rgb(34, 34, 34);
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 10px;
}

#bookings-date-range {
    color: rgb(113, 113, 113);
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    text-overflow: ellipsis;
    line-height: 18px;
}

.dateRange-display {
    padding: 10px;
    /* border: 1px solid black; */
    width: 50%;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    color: rgb(34, 34, 34);
    font-size: 14px;
}


#bookings-header-right {
    width: 300px;
    height: 56px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
}

/* #bookings-header-right:hover{
    cursor: pointer
} */

#check-in {
    border-right: 2px solid black;
}

.add-date-style {
    color: rgb(113, 113, 113)
}

.bookings-label {
    font-size: 10px;
    color: rgb(34, 34, 34);
    font-weight: 700;
    margin-bottom: 3px;
}

/* CALENDAR */
#calendar-wrapper {
    border: 1x solid red;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* width: fit-content;
    height: fit-content; */

}

.dateRange-calendar {
    /* border: 1px solid pink; */
    /* position: absolute; */
    font-weight: 400;
    z-index: 1;
    min-height: 350px;
    display: flex;
    /* margin-top: 20px; */
    /* margin-left: -100px; */
}

#dateRange-container {
    width: 597px;
    height: 469px;
    min-height: 460px;
    padding: 0 32px 16px 32px;
    /* border: 3px solid blue; */
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: -290px;
    margin-top: -24px;
    height: 500px;
    /* justify-content: flex-start; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 6px 20px 0px;
    background-color: white;
    border-radius: 15px;
    animation-name: grow;
    animation-duration: .2s;
}

@keyframes bounce {
    0% {
        margin-top: 50px
    }
    25% {
        margin-top: -25px
    }
    50% {
        margin-top: 0px
    }
    75% {
        margin-top: -24px
    }

    85% {
        margin-top: -18px
    }

    100% {
        margin-top: -24px
    }
}

@keyframes grow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.rdrMonthName {
    /* min-width: 70em; */
    /* min-height: fit-content; */
    color: rgb(34, 34, 34) !important;
    font-weight: 600;
    font-size: 16px;
    text-align: center !important;
}

.rdrMonths {
    width: 597px;
    position: absolute;
    margin-top: 14px;
}

.rdrMonthAndYearWrapper {
    z-index: 2;

}

.rdrMonthAndYearPickers {
    display: none !important;
}

.rdrMonthPicker {
    border: 1px solid black;
    margin: 0 !important;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.rdrYearPicker {
    border-left: none !important;
    border: 1px solid black;
    margin: 0 !important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.rdrDays {
    font-size: 14px;
    height: 37px;
}

.rdrDayNumber>span {
    font-weight: 600
}

.rdrNextButton,
.rdrNextPrevButton {
    background: none !important;
    border-radius: 50% !important;
}

.rdrNextButton:hover,
.rdrNextPrevButton:hover {
    background: #EFF2F7 !important;
}

#close-bookings-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 15px;
    margin-top: 10px;
}

#clear-dates-btn {
    text-decoration: underline;
    height: 34px;
    padding: 8px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: rgb(34, 34, 34);
    font-weight: 500;
    letter-spacing: 0.25px;
    box-sizing: border-box;
    border-radius: 5px;
}

#clear-dates-btn:hover {
    background-color: #f7f7f7b5;
    cursor: pointer;
}

#close-bookings-btn {
    width: 69px;
    height: 34px;
    background-color: rgb(34, 34, 34);
    display: inline-block;
    align-items: flex-start;
    color: white;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    letter-spacing: 0.25px;
    box-sizing: border-box;
    padding: 8px;
}
#close-bookings-btn:hover{
    cursor: pointer;
}