#create-review-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;

}

#form-container {
    margin-top: 100px;
}

#review-form-styling {
    display: block;
    width: 500px;
    height: 550px;
    text-align: center;
    border-color: rgb(221, 221, 221);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px 0px;

}


#review-h1 {
    border-bottom: 1px lightgrey solid;
}

#createReview-buttonDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

#createReview-submitBtn:hover,
#cancelReviewbtn:hover {
    cursor: pointer;
}

#createReview-submitBtn,
#cancelReviewbtn {
    width: 350px;
    height: 40px;
    background-color: #FF5A5F;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 15px;
    border-radius: 20px;
    border: 1px solid lightgrey;
    font-size: 16px;
    font-weight: 500;
}

#review-description {
    border-radius: 15px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 10px;
    padding-top: 10px;
}


#fieldset-stars {
    border: 1px solid lightgrey;
    border-radius: 9999px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 6px 16px 0px;
}

#starsContainer {
    margin-top: -25px;
    margin-bottom: -15px;
}

#starHeading {
    font-size: 18px;
    margin-top: 28px;
    margin-bottom: 10px;
    font: system-ui;
    font-weight: 400;
}

.rate {
    display: inline-block;
    border: 0;
}

.rate>input {
    display: none;
}

.rate>label {
    float: right;
}

.rate>label:before {
    display: inline-block;
    font-size: 2rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: system-ui;
    content: "★";
    /* position: relative; */
    /* color: lightgrey; */
}

.starInput:checked ~ label,
label:hover,
label:hover~label {
    color: #FFD700
}

.starInput:checked + label:hover,
.starInput:checked~label:hover,
input:checked~label:hover~label,
label:hover~.starInput:checked~label {
    color: #FFD700;
}

