/* frontend/src/context/Modal.css */
#modal {
    margin-top: -80px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 40px 40px 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: bounce;
    animation-duration: .1s;
    /* border: red 5px; */
    width: 100%;
    height: 100%;
}

@keyframes bounce {
    0% {
        top: 300px
    }
}

#top-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 350px;
    height: 40px;
    box-sizing: border-box;
    /* position: 'fixed'; */
    /* overflow: 'hidden';
            inset: '-2066.25px 0px 0px';
            inset-inline-end: '19px';
            --scrollbar-gutter: '19px' */
}

/* #modal-container {
    width: 100%;
    height: 100%;
    border: red 10px;
} */

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);

}


#loginForm-styling{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 400px;
    height: 400px;
    /* border: 1px solid red; */
}


#loginSignup {
    font-size: 18px;
    width: 350px;
    height: 30px;
    display: block;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    /* justify-content: space-around; */
    /* align-items: center; */
    /* margin-left: 75px;
    margin-right: 75px; */
}

#modal-content {
    position: fixed;
    background-color: white;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    padding-bottom: -200px;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#close-modal {
    height: 16px;
    width: 16px;
}

#close-modal:hover {
    cursor: pointer
}