
#review-container-style {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    /* border: 5px solid blue; */
}

#existing-reviews {
    width: 1120px;
    height: fit-content;
    display: grid;
    column-gap: 25px;
    row-gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-areas:
        "a a"
        "a a"
        "a a"; */
    /* border: 2px solid pink; */
    font-family: system-ui;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid lightgrey;
}


#reviews-header {
    width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color: rgb(34, 34, 34);
    margin: 25px 0;
}

#delete-review-btn {
    width: 50%;
    margin-top: 15px;
    height: 40px;
    background-color: #E31C5F;
    color: white;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    font-weight: 500;
    font-family: system-ui;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px 0px;
    margin-left: 100px;
    cursor: pointer;
}

#review-card {
    display: block;
    text-align: start;
    padding: 10px, 10px, 10px, 10px;
    width: fit-content;
    height: fit-content;
    /* grid-area: a; */
    /* overflow-wrap: break-word; */
}

#review-time{
    font-size: 14px;
    padding-left: 5px;
    width: 100%;

}

#review-profile-details{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60px;
}

#review-name-date{
    /* padding-left: 8px;
    padding-bottom: 10px; */
    width: fit-content;
}

#user-review {
    overflow-wrap: break-word;
    font-style: italic;
    font-weight: 300;
    padding-top: 10px;
    width: 85%;
}