.form-container {
    border: lightgrey solid 1px;
    border-radius: 20px;
}

#createSpot-form {
    display: flex;
    justify-content: center;
    /* border: red solid 5px; */
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 100px;

    border-color: rgb(221, 221, 221);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px 0px;

}