.spot-card-container {
    display: grid;
    /* grid-template-rows: repeat(5, .8fr); */
    height: 370px;
    width: 300px;
    /* border: 5px red dashed; */
    font-size: 15px;
    line-height: 16px;
    text-decoration: none;
}

.image-section {
    /* margin-top: 100px; */
    width: 100%;
    height: 287px;
    
}

#spot-img {
    object-fit: cover;
    height: 285.7px;
    width: 100%;
    /* border: solid purple 5px; */
    display: flex;
    flex-direction: row;
    border-radius: 5%;
    justify-content: center;
}


#singleSpot-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    height: 80px;
}

.description-stars {
    display: flex;
    justify-content: space-between;
}

.spot-values {
    color: black;
}

#nav-link {
    text-decoration: none;
}

#location-avgRating {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

#location {
    font-weight: 620;
}