.SpotsContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* border: 5px blue solid; */
    height: 100%;
    width: 1616px;
    column-gap: 24px;
    row-gap: 45px;
    margin-top: 100px;
    /* padding-left: 80px;
    padding-right: 80px; */
}



/* @media screen and (max-width: 800px) {
    .SpotsContainer {
        grid-template-columns: repeat(4, 300px);
        grid-template-rows: repeat(5, 1fr);
        grid-auto-flow: row;
        height: 100%;
        max-width: 100%;
        gap: 20px;
        padding-left: 80px;
        padding-right: 80px;
    }
} */

.wrapper {
    height: 100%;
    /* border: solid red 5px; */
    display: flex;
    justify-content: center;
    width: 100%; 
    /* padding-top: 180px; */
    margin-bottom: 25px;
}

 #single-card {
    /* display: flex;
    justify-content: center; */
    /* height: 325x; */
    height: 300px;
    /* width: 300px; */
    width: 100%;
    max-width: 320px;
    /* border: 5px red dashed; */
    font-size: 15px;
    line-height: 19px;
    position: absolute;
    object-fit: cover;
 }