.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    border-bottom: lightgray 1px solid;
    /* border: black 1px dashed; */
    position: fixed;
    /* display: none; */
    /* border: solid black 5px; */
    height: 80px;
    /* padding-left: 150px;
    padding-right: 150px; */
    z-index: 3;

}

.nav-bar {
    height: 80px;
    /* width: 100%; */
    width: 83.5%;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 80px;
    padding-right: 80px; */
    position: fixed;
    background-color: white;
    /* border: dashed blue 2px */
    /* border: solid red 1px; */

}

#avatar,
#menu {
    width: 15px;
    height: 15px;
}



.main-dropdown-container {
    /* width: 80px;
    height: 40px;
    border: 1px solid red;
    border-radius: 20px;
    display: flex;
    background-color: white;
    z-index: 5;
    align-items: center;
    justify-content: space-between; */
    /* display: inline-block; */
    
    /* ADD BACK IN!!! */
    /* position: absolute;
    right: 20px; */
}

.home-button-dropdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border: 1px solid red;
    position: fixed;
    right: 155px;
    margin-bottom: 10px;
    cursor: pointer;
    height: 45px;
    width: 85px;
    border-radius: 9999px;
}

.home-dropdownMenu-visible {
    visibility: visible;
    position: relative;
    background-color: white;
    border: 1px solid blue;
    border-radius: 15px;
    z-index: 5;
    right: 0;
    top: 0;
    bottom: 15px;
    width: 100px;
    height: 100px;
    display: inline-block;
    flex-direction: column;

}

.home-dropdownMenu-hidden {
    visibility: hidden;
    display: none;
    z-index: -1;
}

.home-dropdownMenu-visible a {
    visibility: visible;
    display: block;
    z-index: 2;

}

.home-dropdownMenu-hidden a {
    visibility: hidden;
    display: block;
    /* z-index: 0; */
}


#logo {
    height: 50px;
    width: 75px;

}